* {
    font-family: Arial, Helvetica, sans-serif;
}

.sel {
    padding: 20px;
    background-color: rgb(221, 221, 221);

}

/*Inicio*/

header {
    background-color: #D7D7D7;
    text-align: center;
    padding: 47px;
    margin-top: 47px;
    margin-left: 217px;
    margin-right: 217px;

}


#Inicio {
    margin-left: 550px;
    margin-right: 217px;
    background-color: rgb(255, 255, 255);
    margin-top: 35px;
    font-weight: bold;
}

#Inicio ul {
    padding: 20px 20px;
}

#Inicio li {
    display: inline;
    padding: 20px;
}

#Inicio a {
    text-decoration: none;
    color: rgb(0, 0, 0);

}



.img {
    margin-left: 50px;
    margin-right: 217px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    Display:flex
}

.dimensionImg {
    width: 315px;
    height: 317px;
}



.dospartes {
    height: 500px;
    width: 1500px;

}

.dospartes table td:nth-child(1) {
    width: 15cm;

}

.dospartes table td:nth-child(2) {
    width: 15Cm;
}

footer {
    margin-left: 217px;
    margin-right: 217px;
    background-color: rgb(255, 255, 255);
    padding: 1px;
    text-align: center;
}


/*Tablas*/
.tabla {
    line-height: 175%;
    font-size:small;
    text-align: center;
    margin-left: 100px; /*217*/
    margin-right: 100px; /*217*/
    margin-top: 50px;
    margin-bottom: 220px;
}

.tabla table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.tabla table {
    width: 800px;
    margin-left: auto;
    margin-right: auto;

}
 
table td:nth-child(1)
{
  font-weight: bold;
  width: 5cm;
}

table td:nth-child(2)
{
  
  width: 12cm;
}


/*Formularios*/

.lista {
    margin-left: 217px;
    margin-right: 217px;
    margin-top: 50px;
    margin-bottom: 220px;
    font-size: large;
}